#info{
    position: relative;
    height: 100px;
}


.AdicionarTimeslot > button{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    
    margin: 10px 0px;
    width: 220px;
    height: 45px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    background-color: #00274d;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border 0.3s;

  &:hover {
    background-color: #d4d4d4; /* Cor de hover cinza claro */
    border: 1px solid #00274d; /* Borda interna da mesma cor */
    color: #00274d;
  }
}

.Servico{
    position: relative;
    background-color: rgba(255,255,255,0.1);
    margin: 10px 20px;
    //height: 80px;

    border-radius: 15px;
    border: 4px solid #01193f;
}

.TimeslotsList{
    position: relative;
    background-color: rgba(255,255,255,0.1);

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    height: 80px;

    border-radius: 15px;
    border: 4px solid #01193f;
}

.Descricao{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    font-size: 16px;
    font-weight: bold;
}


.Preco{
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translate(0,-50%);

    font-size: 16px;
    font-weight: bold;
}


.NomeServico{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0,-50%);

    font-size: 24px;
    font-weight: bold;
}

.BotaoApagarServico{
    height: 50px;
    width: 50px;

    background-color: red;
    font-size: 24px;
    font-weight: bold;

    position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(-50%,-50%);

    border-radius: 15px;
}


.VerServico{

    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    
    margin: 10px 0px;
    width: 220px;
    height: 45px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    background-color: #00274d;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, border 0.3s;

  &:hover {
    background-color: #d4d4d4; /* Cor de hover cinza claro */
    border: 1px solid #00274d; /* Borda interna da mesma cor */
    color: #00274d;
  }
}
